<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="author" content="{{SETTINGS.ADMINS.0.0}}" />
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.responsive" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

        <script type ="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <!-- TODO: clean up js libraries -->
        <!-- <script type ="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.min.js"></script> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->

        <script type ="text/javascript" src="{{ STATIC_URL }}js/jdpicker_1.0.3/jquery.jdpicker.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}js/jdpicker_1.0.3/jdpicker.css" type="text/css" media="screen" /> 

        <script type ="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>

        <script type ="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
        <script type ="text/javascript" src="{{ STATIC_URL }}js/contact.js"></script>

        <title>42 Coffee Cups Test Assignment - Artem Dudarev</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span10">
                    <h1>42 Coffee Cups Test Assignment</h1>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="row">
                <div class="span10">
                    <hr>
                    <a href="/requests">requests</a>
                </div>
            </div>
        </div>
    </body>
</html>
