{% extends "base.html" %}

{% block content %}

<div>
    <form id="contact-form" enctype="multipart/form-data" method="post" action="/edit/">
        {% csrf_token %}
        <div class="hidden">
            {{ form.is_ajax_request}}
        </div>
        <div class="span5" id="first-column">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.bio.errors }}
                <label for="id_bio">Bio:</label>
                {{ form.bio}}
            </div>
            <div class="fieldWrapper">
                {{ form.birth_date.errors }}
                <label for="id_birth_date">Date of birth:</label>
                {{ form.birth_date}}
            </div>
            <div class="fieldWrapper">
                {{ form.last_name.errors }}
                <label for="id_last_name">Last name:</label>
                {{ form.last_name}}
            </div>
            <div class="fieldWrapper">
                {{ form.first_name.errors }}
                <label for="id_first_name">First name:</label>
                {{ form.first_name}}
            </div>
            <div class="fieldWrapper">
                {{ form.photo.errors }}
                <label for="id_photo">Photo:</label>
                {{ form.photo }}
                {% if contact.photo %}
                <img src="{{ MEDIA_URL }}{{ contact.photo }}" alt="photo" />
                {% else %}
                <div>
                    No photo.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="span5" id="second-column">
            <div class="fieldWrapper">
                {{ form.other_contacts.errors }}
                <label for="id_other_contacts">Other contacts:</label>
                {{ form.other_contacts}}
            </div>
            <div class="fieldWrapper">
                {{ form.skype.errors }}
                <label for="id_skype">Skype:</label>
                {{ form.skype}}
            </div>
            <div class="fieldWrapper">
                {{ form.jabber.errors }}
                <label for="id_jabber">Jabber:</label>
                {{ form.jabber}}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="id_email">Email:</label>
                {{ form.email}}
            </div>
        </div>

        <div class="span10" id="submit-buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/" class="cancel-link">Cancel</a>
        </div>
    </form>
</div>

<div class="modal" id="response-modal-success" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Success</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-success"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">OK</a>
    </div>
</div>

<div class="modal" id="response-modal-error" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Error</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-error"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">OK</a>
    </div>
</div>

<div class="modal" id="message-submitting-data" style="display:none;">
    <div class="modal-header">
        <h3>Sending data</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-error"></p>
    </div>
    <div class="modal-footer">
    </div>
</div>

{% endblock %}
