<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="author" content="{{SETTINGS.ADMINS.0.0}}" />
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.responsive" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

        <title>42 Coffee Cups Test Assignment - Edit Contact</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span10">
                    <h1>42 Coffee Cups Test Assignment</h1>
                    <div class="row">
                        <div class="span5" id="first-column">
                            <p>{{contact.first_name}}</p>
                            <p>{{contact.last_name}}</p>
                            <p>{{contact.birth_date}}</p>
                            <p>Bio:</p>
                            <p>{{contact.bio}}</p>
                        </div>
                        <div class="span5" id="second-column">
                            <p>Contacts</p>
                            <p>Email: {{contact.email}}</p>
                            <p>Jabber: {{contact.jabber}}</p>
                            <p>Skype: {{contact.skype}}</p>
                            <p>Other contacts:</p>
                            <p>{{contact.other_contacts}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <a href="/requests">requests</a>

        <form action="/contact/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>

        </div>
    </body>
</html>
