{% extends "base.html" %}

{% block content %}

<div>
    <div class="span5" id="first-column">
        <form id="contact-form" enctype="multipart/form-data" method="post" action="/edit/">
            {% csrf_token %}
            {{ form_person.as_p }}
            {% if contact.person.photo %}
                <img src="{{ MEDIA_URL }}{{ contact.person.photo }}" alt="photo" />
            {% else %}
            <div>
                No photo.<br/><br/>
            </div>
            {% endif %}
            <div class="span10" id="submit-buttons">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/" class="cancel-link">Cancel</a>
            </div>
    </div>
    <div class="span5" id="second-column">
            {{ form_contact.as_p }}
        </form>
    </div>
</div>

<div class="modal" id="response-modal-success" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Success</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-success"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">OK</a>
    </div>
</div>

<div class="modal" id="response-modal-error" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Error</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-error"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">OK</a>
    </div>
</div>

<div class="modal" id="message-submitting-data" style="display:none;">
    <div class="modal-header">
        <h3>Sending data</h3>
    </div>
    <div class="modal-body">
        <p id="response-message-error"></p>
    </div>
    <div class="modal-footer">
    </div>
</div>

{% endblock %}
